[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Weather app
Comment=Weather showing application
Exec=weatherapp.sh
Icon=weather-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
