[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=HelloWorld
Comment=Say Hello
Exec=helloworld.js
Icon=application-default-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
