[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Weather App
Comment=Displays weather
Exec=weatherapp.js
Icon=application-default-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
